.sample {
    padding: 50px;
    display: flex;
    justify-content: center;
}

h1 {
    width: 100%;
}

.rtl {
    float: right;
    direction: rtl;
    width: 100%;
    text-align: right;
}

.ltr {
    float: left;
    width: 100%;
    text-align: left;
}